@charset "UTF-8";

body {
  height: 100vh;
  background: black url(../imagens/wallpaper002.jpg) center center no-repeat fixed;

  background-size: cover;
}

div.quadrado {
  /* display: inline-block; */
  background-image: url(../imagens/wallpaper003.jpg);
  border: 2px solid black;
  border-radius: 10px;
  height: 200px;
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
}

div#q1 {
  background-position: left top;
}

div#q2 {
  background-position: left center;
}

div#q3 {
  background-position: right bottom;
}

div#q4 {
  background-position: center center;
}

p {
  max-width: 400px;
  margin: auto;
  background-color: white;
  padding: 10px;
  text-align: justify;
  border-radius: 10px;
}